.rectangle path:nth-child(1) {
  transition: transform 0.75s cubic-bezier(0.4, 0, 0.2, 1);
}
.rectangle path:nth-child(2) {
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
.rectangle--right path {
  transform: translateX(100%);
}
.rectangle--left path {
  transform: translateX(-100%);
}
.rectangle.animate path {
  transform: translateX(0%);
}

.page__header {
  transition: box-shadow 0.3s ease, padding 0.3s ease;
}
.page__header.active {
  padding-bottom: 0.9rem;
  padding-top: 0.9rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.page__footer-copyright {
  left: 120%;
  transition: left 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.page__footer:has(.rectangle.animate) .page__footer-copyright {
  left: 50%;
  transform: translateX(-50%);
}

@media (min-width: 824px) {
  a:has(.icon):hover .icon {
    transform: scale(1.05) rotate(-5deg);
  }
  .button:hover {
    background-color: white;
    color: var(--primary, #1557ff);
  }

  .button--ghost:hover {
    background-color: var(--primary, #1557ff);
    color: white;
  }

  .button--arrow:hover {
    background-color: var(--primary);
    color: white;
  }

  .link:hover {
    color: var(--primary, #1557ff);
  }

  .button--outline:hover {
    border-color: var(--dark, #1f2023);
  }

  /* service-card */
  .service-card__title,
  .service-card__description {
    transition: transform 0.2s ease;
  }
  .service-card::after {
    transition: transform 0.3s ease;
  }

  .service-card:hover {
    /* transform: translateY(-0.5rem); */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .service-card:hover .service-card__title {
    transform: translate(0.4rem, 0.2rem);
  }

  .service-card:hover .service-card__description {
    transform: translate(0.4rem, 0.1rem);
  }
  .service-card:hover::after {
    transform: translate(-0.3rem, -0.2rem);
  }
}
