/* utilis */
.no-margin {
  margin: 0;
}

/* button */
.button {
  background-color: var(--primary, #1557ff);
  color: white;
  padding: 0.75em 1em;
  border-radius: 0.1rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.5s ease, border 0.2s ease;
  border: 1px solid transparent;
  display: inline-block;
}

/* hamburger */
.hamburger {
  position: relative;
  z-index: 10;
  border: none;
  background-color: transparent;
  width: 42px;
  height: 28px;
  cursor: pointer;
}
.hamburger__line {
  display: block;
  position: absolute;
  height: 4.5px;
  width: 42px;
  background-color: var(--dark, #1f2023);
  border-radius: 1px;
  right: 0;
  transition: transform 0.2s ease, top 0.2s ease, bottom 0.2s ease, width 0.2s ease;
}
.hamburger__line:nth-child(1) {
  top: 0;
}
.hamburger__line:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
.hamburger__line:nth-child(3) {
  bottom: 0;
}
.hamburger.active .hamburger__line:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
.hamburger.active .hamburger__line:nth-child(2) {
  width: 0;
}
.hamburger.active .hamburger__line:nth-child(3) {
  bottom: 50%;
  transform: translateY(50%) rotate(-45deg);
}

/* rectangles - design element */
.rectangle {
  display: block;
  width: 300px;
}
.rectangle--left {
  margin-right: auto;
}
.rectangle--right {
  margin-left: auto;
}
.rectangle--offset-top {
  margin-top: -2.5rem;
}

/* images */
.image-fully-responsive {
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
  object-fit: cover;
}

/* section */
.section {
  padding: var(--section-gap, 196px) var(--mobile-padding, 1rem);
}

/* hide / show elements */
.hide-on-mobile {
  position: absolute;
  transform: translateX(-10000px);
}

/* service card  */
.service-card {
  padding: 1rem;
  border: 1px solid var(--dark, #1f2023);
  border-radius: 0.25rem;
}

.service-card::after {
  content: "";
  display: block;
  color: transparent;
  margin-left: auto;
  margin-top: 1rem;
  background-color: var(--primary, #1557ff);
  width: 68px;
  height: 68px;
  -webkit-mask: url("/images/icons/envelope.svg");
  mask: url("/images/icons/envelope.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;

  -webkit-mask-position: center;
  mask-position: center;

  -webkit-mask-size: contain;
  mask-size: contain;
}

.service-card__description {
  line-height: 1.2;
  font-weight: 300;
}

@media (min-width: 824px) {
  .mobile-only {
    position: absolute;
    transform: translateX(-10000px);
  }
  .hide-on-mobile {
    position: static;
    transform: translateX(0);
  }
  .hamburger {
    display: none;
  }

  /* hover animations */
  .button {
    font-size: 1rem;
  }

  .section {
    padding: var(--section-gap, 196px) var(--desktop-padding, 2rem);
    max-width: var(--max-width, 1400px);
    margin-inline: auto;
  }
}
