@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

html {
  font-family: "DM Sans", sans-serif;
  color: var(--dark, #1f2023);
}

.text-large {
  font-size: 18px;
}

.logotype {
  font-size: 1.5rem;
  font-weight: 600;
}

.heading {
  margin: 0.1em 0;
}

.heading--uppercase {
  text-transform: uppercase;
}

.heading--h1 {
  font-size: 4rem;
  font-weight: 900;
}

/* ICONS */
.icon {
  color: transparent;
  background-color: var(--primary, #1557ff);
  display: inline-block;
  width: 1.1em;
  height: 1.1em;
  vertical-align: middle;
}
.icon--phone {
  -webkit-mask: url("/images/icons/phone.svg");
  mask: url("/images/icons/phone.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;

  -webkit-mask-position: center;
  mask-position: center;

  -webkit-mask-size: contain;
  mask-size: contain;
}
.icon--location {
  -webkit-mask: url("/images/icons/locatoin.svg");
  mask: url("/images/icons/location.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;

  -webkit-mask-position: center;
  mask-position: center;

  -webkit-mask-size: contain;
  mask-size: contain;
}
.icon--envelope {
  -webkit-mask: url("/images/icons/envelope.svg");
  mask: url("/images/icons/envelope.svg");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;

  -webkit-mask-position: center;
  mask-position: center;

  -webkit-mask-size: contain;
  mask-size: contain;
}

@media (min-width: 824px) {
  .logotype {
    font-size: 2rem;
  }
}
